*{
    margin: 0;
    padding: 0;
}
.fullPage {

  display: grid;
  grid-template-areas:
    "Header  Header " 
    "Nav MainContent " ;
  grid-template-rows: 20% 50% ;
  grid-template-columns: 20% 50% ;
  min-width: 100%;
  min-height: 100%;
}
#mainContent {
  grid-area: MainContent;
  background-color: yellow;
  min-width: 50px;
  min-height: 50px;
  
}
#mainContent div{
    min-width: 100%;
    min-height: 100%;
}
#mainNavP {
  background-color: yellowgreen;
  grid-area: Nav;
  min-width: 50px;
  min-height: 50px;
}
#mainHeader {
  grid-area: Header;
  background-color: blue;
  min-width: 50px;
  min-height: 50px;
}
